body{
    font-family: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        Helvetica,
        Neue,
        sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}


/**NAV**/
.nav{
  display: flex;
}

.nav li{
  margin-left: 15px;
  margin-top: 10px;
}

.active{
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #d0021B;
}

.list-style{
    display: flex;
    justify-content: center;
}
.list-style li{
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.popular-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item{
  margin: 20px;
  text-align: center;
}
.popular-rank{
  font-size: 20px;
  margin: 10px;
}

.button{
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 2px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0px;
  margin: 10px auto;
}

.button:hover{
  cursor: pointer;
}

.button:hover:enabled{
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active{
  transform: translate(1px);
}
